.footer {
  color: white;
  font-family: "Product Sans", sans-serif;
  width: 80%;
  max-width: 70rem;
  margin: auto;
  padding-bottom: 5rem;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;

  gap: 2.5rem;
}

.mensajeprefooter {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;

}

.mensajeprefooter__titulo {
  color: white;
  font-size: 7rem;
  font-family: "Product Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .mensajeprefooter__titulo {
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 80%;
  }
}
