.width__imgg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .md__imgg {
    width: 250px;
    margin: auto;
    display: block;
    height: 200px;
  }

}