.schedule-container {
  width: 100%;
  margin: 0 auto;
  font-family: "Product Sans", sans-serif;
  padding: 0px;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  text-align: center;
  
}

.time-header {
  width: 100%;
  max-width: 150px;
  padding: 15px;
  background-color: #343a40;
  color: white;
  font-size: 25px;
}

.header-column {
  flex: 1;
  padding: 15px;
  background-color: #6c757d;
  color: white;
  border: 1px solid #dee2e6;
  font-size: 25px;
}

.schedule-row {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  text-align: center;
  justify-content: space-between;
  align-items: stretch;
}

.time-column {
  width: 100%;
  max-width: 150px;
  padding: 15px;
  font-size: 20px;
  color: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.empty-salon {
  flex: 1;
  padding: 15px;
  background-color: #1e1d1d;
  border-left: 1px solid #dee2e6;
}
.schedule-row.break-time {
  background-color: #D8B157;
}
