.contadorprefooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  margin-bottom: 10px;
}

.mensajeprefooter__titulo {
  color: white;
  font-size: 7rem;
  font-family: "Product Sans", sans-serif;
}

.contador {
  color: white;
  font-family: "Product Sans", sans-serif;
  width: 80%;
  max-width: 120rem;
  font-size: 50px;
  margin: auto;
  padding-top: 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  padding-bottom: 0rem;
  gap: 2.5rem;
    justify-content: center;
  align-items: center;
}

.contador {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
}



@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .mensajeprefooter__titulo {
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 80%;
  }
}
