.font__container {
  font-size: 5rem;
  font-family: "Product Sans", sans-serif;
  color: white;
}



@media screen and (max-width: 768px) {
  .font__container{
    font-size: 4rem;
  }

}
@media (min-width: 768px) {
  .md\:texto__md {
    font-size: 5rem;
  }


}

@media (min-width: 1024px) {
  .lg\:texto__lg {
    font-size: 5rem;
  }
}

.md\:text__center {
  text-align: center;
}


